button, a {
    cursor: pointer;
    background-color: var(--none);
}

body {
    background-color: var(--black);
}

.container {
    width: 375px;
    margin: 0 auto;
    background-color: var(--body);
    min-width: 393px;
    max-width: 420px;
    height: 100vh;
    min-height: 852px;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 95px;
}

.none {
    display: none !important;
}

input {
    outline: none;
}