@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --mainfont: "pretendard";

    // 메인 컬러 
    --main01: #17352C;
    --main02: #A2D5C6;
    --main03: #BBEBDD;
    --main04: #BDCEC9;
    --body: #FFFFFF;

    // 각종 검정색-회색
    --white: #fff;
    --gray100: #E8E8E8;
    --gray200: #D3D3D3;
    --gray300: #B2B2B4;
    --gray400: #8C8C8E;
    --gray500: #7B7B7E;
    --gray600: #515155;
    --gray700: #3F3F43;
    --gray800: #353538;
    --gray900: #2F2F32;
    --black: #242427;
    
    // 투명
    --none: #00000000;

    // 폰트 세팅
    color: var(--main01);
    font-family: var(--mainfont);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
